*, *:before, *:after{
  box-sizing: border-box;
}

body{
  background: #ECEEF1;
}
.container{
  padding: 0 25px;
}
header{
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.header-links{
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin-right: 5px;
}

.header-links a{
  text-decoration: none;
  color: #0077C5;
}

.btn{
  background: #0077C5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  color: white;
  font-size: 13.5px;
  padding: 7px 25px;
}
